.filters {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: none;
  margin-bottom: 1em;

  .filter {
    display: inline-block;
    white-space: inherit;
    background: $oc-blue-3;
    color: $oc-gray-9;
    padding: .4em .45em .4em 1em;
    border-radius: 10px;
    position: relative;
    transition: padding-right .2s ease;

    &.quick {background: none}

    button {
      -webkit-appearance: none;
      border: 0;
      background: none;
      outline: 0;
    }
  }

  .filter + .filter {margin-left: .5em}
}
