doctype html
html(ng-app='prototype')
  head
    title Prototype
    base(href="/")

    include templates/metas
    include templates/favicons
    include templates/styles

  body.mn-backdrop
    div(ui-view='main')

    include templates/scripts
