.list {
  position: relative;

  h2:first-child {margin-top: 1rem}

  .mn-button.action.raised {
    position: absolute;
    right: 0;
    top: 2.5em;

    @media (min-width: 767px) {
      transform: translate3d(0, 0, 0);
    }

    @media (min-width: 768px) {
      transform: translate3d(50%, 0, 0);
    }
  }

  .empty {
    text-align: center;

    h2 {
      margin-top: 1rem;
    }
  }
}

