.login {
  .logotype {
    margin-bottom: 3em;
    font-size: 2.2em;
  }

  mn-form {
    width: 420px;
    max-width: 100%;
  }

  .invalid-credentials-message {
    color: $oc-red-7;
    text-align: center;
    transform: translateY(.5em);
    opacity: 0;
    transition: opacity .2s ease;

    &.visible {
      opacity: 1;
    }
  }

  .mn-button {
    margin: 2em 0 0;

    opacity: 0;
    transition: opacity .2s ease;

    &.visible {
      opacity: 1;
    }
  }
}
