.logotype {
  font-family: inherit;
  font-weight: 100;
  color: transparent;
  background: linear-gradient(135deg, #6420b3, #02c9c9);
  -webkit-background-clip: text;
  user-select: none;
  display: table;

  small {
    font-size: .5em;
    display: block;
  }
}
