.layout-container
  h2 Users list

  .mn-table-list.mn-card
    a.mn-item(href='#')
      span John Snow
      span snow@iknownothing.com

    a.mn-item(href='#')
      span Khaleesi
      span motherofdragons@targaryen.com
