.content
  h2 Users list
  //- p Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.


  //- .list
    //- .empty
      h3 Nenhum resultado
      small Lorem ipsum dolor sit amet cons pectur marak tuma.
    .title.layout-row
      h5.flex.flex-sm-25 Title
      h5.flex Description

    .item Lorem ipsum

  .mn-table-list
      header
        h3 username
        h3 email

      a.mn-item(href='#')
        span John Snow
        span snow@iknownothing.com

      a.mn-item(href='#')
        span Khaleesi
        span motherofdragons@targaryen.com
