.mn-layout-container
  h2 
    a.back-button(ui-sref='^') Users
    | {{ :: users.data._id ? users.data.username : 'New user' }}

  mn-form(submit='users.data.save()')
    .mn-card.padding
      .mn-layout-column.mn-layout-sm-row
        mn-input.flex(name='username' placeholder='username' ng-model='users.data.username' required)
        mn-input.flex(name='firstname' placeholder='firstname' ng-model='users.data.firstname' required)
        mn-select.flex-sm(placeholder='House' ng-model='users.data.lastname' required)
          option(ng-repeat='option in users.options' ng-value='option') {{ option }}
          
      .mn-layout-column.mn-layout-sm-row
        mn-input.flex(name='email' placeholder='email' type='email' ng-model='users.data.email' required)

    
    div.mn-layout-row.align-end
      button.mn-button(ui-sref='^') Cancel
      button.mn-button.raised(type='submit') Save

