.layout-container
  h2 User

  mn-form(submit='users.save()')
    .mn-card.padding
      .layout-column.layout-sm-row
        mn-input.flex(name='username' placeholder='username' ng-model='users.data.username' required)
        mn-input.flex(name='firstname' placeholder='firstname' ng-model='users.data.firstname' required)
        mn-input.flex(name='lastname' placeholder='lastname' ng-model='users.data.lastname' required)
          
      .layout-column.layout-sm-row
        mn-input.flex(name='email' placeholder='email' type='email' ng-model='users.data.email' required)

        mn-select.flex-sm(placeholder='House' ng-model='users.data.house' required)
          option(ng-repeat='option in users.options' ng-value='option.value') {{ option.name }}


      //- .layout-column.layout-sm-row(ng-show='!users.data._id')
        mn-input.flex(name='password' placeholder='password' type='password' ng-model='users.data.password' required)
        mn-input.flex(name='confirmPassword' placeholder='confirm password' ng-model='confirmPassword' type='password' required)
    
    div.layout-row.align-end
      button.mn-button(ui-sref='^') Cancel
      button.mn-button.raised(type='submit') Save

    p model:  {{ users.data.house }}

