.layout-container
  h2 User

  mn-form(submit='users.save()')
    .mn-card.padding
      .layout-column.layout-sm-row
        mn-input.flex(name='username' placeholder='username' ng-model='users.data.username' required)
        mn-input.flex(name='firstname' placeholder='firstname' ng-model='users.data.firstname' required)
        mn-input.flex(name='lastname' placeholder='lastname' ng-model='users.data.lastname' required)
          
      .layout-column.layout-sm-row
        mn-input.flex(name='email' placeholder='email' type='email' ng-model='users.data.email' required)

        mn-select.flex-sm(placeholder='House')
          option(value='stark' selected) Stark
          option(value='targaryen') Targaryen
          option(value='lannister') Lannister
          option(value='tyrell') Tyrell
          option(value='baratheon') Baratheon
          option(value='bolton') Bolton
          option(value='martell') Martell
          option(value='tully') Tully
          option(value='arryn') Arryn
          option(value='mormont') Mormont
          option(value='greyjoy') Greyjoy
          option(value='frey') Frey
          option(value='forrester') Forrester
          option(value='karstark') Karstark
          option(value='north') from the North
          option(value='vale') from the Vale
          option(value='dorne') from Dorne

    div.layout-row.align-end
      button.mn-button(ui-sref='^') Cancel
      button.mn-button.raised(type='submit') Save


