.mn-layout-container
  header.mn-layout-row
    h2.flex Users
    button.mn-button.action: i.zmdi.zmdi-playlist-plus
    button.mn-button.action: i.zmdi.zmdi-search
  
  .filters.flex
    .filter Stark
    .filter Snow
      button.zmdi.zmdi-close
    .filter Snow
      button.zmdi.zmdi-close
    .filter Snow
      button.zmdi.zmdi-close
    .filter Snow
      button.zmdi.zmdi-close
    .filter Snow
      button.zmdi.zmdi-close

  .list.mn-table-list.mn-card(ng-if='users.list.length')
    button.mn-button.action.raised(ui-sref='app.users.create'): i.zmdi.zmdi-plus
    a.mn-item(ui-sref='app.users.edit({id: user.username})' ng-repeat='user in users.list')
      span.flex {{ :: user.firstname }} {{ :: user.lastname }}
      span.flex {{ :: user.email }}

  .list.empty(ng-if='!users.list.length')
    .mn-card.padding.align-center
      h2 no results
      p enjoy your time :D

    .mn-layout-row.align-end
      button.mn-button.raised(ui-sref='app.users.create') add a user

  div.mn-layout-row.align-end
    button.mn-button.action(aria-label='Prev' disabled): i.zmdi.zmdi-chevron-left
    | 1 of 3
    button.mn-button.action(aria-label='Next'): i.zmdi.zmdi-chevron-right
