.layout-fullscreen.layout-centered.login
  h2.logotype Prototype

  mn-form.layout-column(submit='login.authenticate()')
    mn-input(placeholder='email' name='email' ng-model='login.credentials.email' required type='email')
    mn-input(placeholder='password' name='password' ng-model='login.credentials.password' required type='password')
    
    button.mn-button login
