form(name='form' ng-submit='form.$valid && login.authenticate()', novalidate, spellcheck='false')
  mn-input(placeholder='Username', ng-model='login.credentials.username', required)
  mn-input(placeholder='Password', type='password', ng-model='login.credentials.password', required)
  button(type='submit') submit
