.layout-fullscreen.layout-centered.login
  h2.logotype Prototype

  form.layout-column(name='form' ng-submit='form.$valid && login.authenticate()', novalidate, spellcheck='false')
    //- mn-form.layout-column(name='form' ng-submit='login.authenticate()')
    mn-input(placeholder='username', name='username', ng-model='login.credentials.username', required)
    mn-input(placeholder='password', name='password', ng-model='login.credentials.password', required, type='password')
    
    button.mn-button.raised login
    //- mn-button.raised login
