.mn-layout-fullscreen.mn-layout-centered.login
  h2.logotype Prototype

  mn-form.mn-layout-column(submit='login.authenticate()')
    mn-input(placeholder='email' name='email' ng-model='login.credentials.email' required)
    mn-password(placeholder='password' name='password' ng-model='login.credentials.password' required)
    
    button.mn-button(type='submit') login
