.mn-layout-fullscreen.mn-layout-centered.login
  h2.logotype Prototype

  mn-form.mn-layout-column(submit='login.authenticate()')
    mn-email(placeholder='email' ng-model='login.credentials.email' required)
    mn-password(placeholder='password' ng-model='login.credentials.password' required)

    .invalid-credentials-message incorrect email or password
    
    button.mn-button(type='submit') login
