.mn-layout-fullscreen.mn-layout-centered.login
  h2.logotype Prototype

  mn-form.mn-layout-column(submit='login.authenticate()')
    mn-email(placeholder='email' ng-model='login.credentials.email' required)
    mn-password(placeholder='password' ng-model='login.credentials.password' required)

    .invalid-credentials-message The email or password you’ve entered doesn’t match any account
    
    button.mn-button(type='submit' ng-class='{visible: login.credentials.email && login.credentials.password}') login
