mn-sidenav#menu
  a.mn-button(href='#' ui-sref-active='active' close-sidenav) Home
  a.mn-button(ui-sref='app.users' ui-sref-active='active' close-sidenav) Users
  a.mn-button(href='#' ui-sref-active='active' close-sidenav) Lorem ipsum
