.fullpage {
  min-height: 100vh;
  transform: translateZ(0);

  &.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    padding: 0 1em;
  }

  form mn-input, .mn-button {
    width: 100%;
  }

  .mn-button {
    margin-top: 2em;
  }

  .logotipo {
    margin-bottom: 3em;
  }
}
