html {
  background-color: #e6ebee;
}

.fullscreen {
  form {width: 420px}
  .logotipo {margin-bottom: 3em}
  .mn-button {margin-top: 2em}
}

.logotipo {
  font-family: inherit;
  font-weight: 100;
  font-size: 2.2em;
  color: transparent;
  background: linear-gradient(135deg, #6420b3, #02c9c9);
  -webkit-background-clip: text;
  user-select: none;
  text-align: center;

  small {
    font-size: .5em;
    display: block;
  }
}

.mn-button {
  color: #3671be;
}

$mn-warning-color: (
  50 : #FCE4EC,
  100: #F8BBD0,
  200: #F48FB1,
  300: #F06292,
  400: #FF3F63,
  500: #df3757,
  600: #D81B60,
  700: #C2185B,
  800: #AD1457,
  900: #880E4F,
  a100: #FF80AB,
  a200: #FF4081,
  a400: #F50057,
  a700: #C51162
);
