.toolbar {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 3em;
  border-bottom: 1px solid #ced4da;
  overflow: auto;
  z-index: 5;
  box-sizing: border-box;
  padding: 0 1em;
  align-items: center;
  display: flex;
  background-color: #e6ebee;

  & + * {
    min-height: calc(100vh - 3em);
  }

  * {margin: 0}

  .action {
    margin-right: .5em;
    margin-left: -.6em;
  }
}
