.toolbar {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 3em;
  border-bottom: 1px solid #ced4da;
  overflow: auto;
  z-index: 100;
  box-sizing: border-box;
  padding: 0 1em;
  align-items: center;
  display: flex;

  & + * {
    min-height: calc(100vh - 3em);
    margin-top: 3em;
  }

  * {margin: 0}

  .action {
    width: 2.5em;
    height: 2.5em;
    line-height: 100%;
    margin-right: .5em;
    margin-left: -.6em;
  }
}
